
@{
    Layout = null;
}
@using HPDQ_Project.Models
@model PagedList.IPagedList<DanhBaValidation>
@using PagedList.Mvc;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh Bạ</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/libs/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link href="~/Content/css/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <style>

        /* a:link, a:active, a:visited, a:hover {
            text-decoration: none;
            color: black;
        }*/
        /*--- DROPDOWN ---*/
        ul#selectedValue {
            list-style: none;
            position: absolute;
            padding: 0;
            margin: 0;
            list-style-type: none;
            background-color: #f2f2f2;
        }

            ul#selectedValue li.ui-menu-item {
                padding: 2px 5px;
            }

                ul#selectedValue li.ui-menu-item:hover {
                    background-color: #ccc
                }
    </style>

</head>
<body style="width:100%;height:100%">
    @if (TempData["msgSuccess"] != null)
    {
        @Html.Raw(TempData["msgSuccess"])
    }
    @if (TempData["msgError"] != null)
    {
        @Html.Raw(TempData["msgError"])
    }
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-3">
                    @Html.DropDownList("PBList", null, "--Bộ phận / Nhà máy--", new { id = "MaPB", @class = "form-control", @style = "width:100%", @onChange = "return ChangePhongBan(this)" })
                </div>
                <div class="col-md-3 input-group">
                    <input id="txtsearch" class="form-control" type="text" placeholder="Tìm kiếm ...">
                    <div class="input-group-append"><input class="btn btn-primary" type="submit" value="Tìm kiếm" id="bsearch" /></div>
                    
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    @if (Session["TK"] != null)
                    {
                        HPDQ_Project.Models.DangKy users = ((HPDQ_Project.Models.DangKy)Session["TK"]);
                        if (users.MaQuyen == 1)
                        {
                            <button type="button" id="btn-add" class="btn btn-primary pull-right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                            <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("UpdatePhoneBook","PhoneBook")'></div>

                            <a class="btn btn-default pull-right" href="#" id="btn-Import"><i class="far fa-file-excel"></i>&nbsp Import</a>
                            <div class="modal fade" id="myModalimport" role="dialog" data-url='@Url.Action("ImportExcel","PhoneBook")'></div>
                        }
                    }

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="countlist"> Tổng số danh bạ: <span>@Model.TotalItemCount</span><a class="btn btn-excel" href="#" onclick="ExportToExcel()"><i class="fas fa-file-excel"></i>&nbsp;Xuất Excel</a></div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="table" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th width="20px" class="text-center">STT</th>
                            @if (Session["TK"] != null)
                            {
                                HPDQ_Project.Models.DangKy users = ((HPDQ_Project.Models.DangKy)Session["TK"]);
                                if (users.MaQuyen == 1)
                                {
                                    <th width="130px" class="text-center">Thao tác</th>
                                }
                            }
                            <th>Họ tên</th>
                            <th width="280px">Vị trí</th>
                            <th>BP / NM</th>
                            <th>Số máy lẻ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int pageno = (int)Model.PageNumber;
                            int itemperpage = (int)Model.PageSize;
                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                        }
                        @{
                           
                            foreach (var item in Model)
                            {
                                                <tr>
                                                    <td class="text-center"> @RowNo@{RowNo++;}</td>

                                                    @if (Session["TK"] != null)
                                                    {
                                                        HPDQ_Project.Models.DangKy users = ((HPDQ_Project.Models.DangKy)Session["TK"]);
                                                        if (users.MaQuyen == 1)
                                                        {
                                                        <td class="text-center">
                                                            <a id="btn-edit_@item.IDNV" href="#" title="Sửa"><i class="fa fa-edit"></i> </a>
                                                            <div class="modal fade" id="myModale_@item.IDNV" role="dialog" data-url='@Url.Action("Edit","PhoneBook",new { id = item.IDNV })'></div>
                                                            <script type="text/javascript">
                                                                    $('#btn-edit_@item.IDNV').click(function () {
                                                                        var url = $('#myModale_@item.IDNV').data('url');
                                                                        $.get(url, function (data) {
                                                                            $("#myModal").html(data);
                                                                            $("#ModalTitle").html("Cập nhập danh bạ - @item.TenNV");
                                                                            $("#myModal").modal('show');
                                                                        });
                                                                    });
                                                            </script>
                                                            @if (item.TrangThai == 1)
                                                            {
                                                                <a href="@Url.Action("Delete", "PhoneBook", new { id = item.IDNV })" onclick="return confirm('Bạn muốn xóa nhân viên có Mã NV: @item.MaNV');" title="Xóa"><i class="fa fa-trash"></i></a>
                                                            }
                                                        </td>
                                                        }
                                                            
                                                     }





                                                        <td>@item.TenNV</td>
                                                        <td>@item.TenCV</td>
                                                        <td>@item.TenPB</td>
                                                        <td>@item.SoMayLe</td>


                                                    </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="pager">

                    @Html.PagedListPager(Model, page => Url.Action("Index", "PhoneBook", new { page, MaPB = Request.QueryString["MaPB"] }))
                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        $('#btn-add').click(function () {
            var url = $('#myModal').data('url');
            $.get(url, function (data) {
                $("#myModal").html(data);
                $("#ModalTitle").html("Thêm mới danh bạ");
                $("#myModal").modal('show');
            });
        });
        $('#btn-Import').click(function () {
            var url = $('#myModalimport').data('url');
            $.get(url, function (data) {
                $("#myModal").html(data);
                $("#ModalTitle").html("Import danh bạ");
                $("#myModal").modal('show');
            });
        });
        $("#bsearch").on('click', function () {
            var search = $('#txtsearch').val();
            var MaPB = $('#MaPB').val();
            window.location.href = '@Url.Action("Index", "PhoneBook")?MaPB='+MaPB+'&search=' + search;
        });
        $("#txtsearch").keyup(function (event) {
            if (event.keyCode == 13) {
                $("#bsearch").click();
            }
        });
        function ExportToExcel() {
            var MaPB = $('#MaPB').val();
            window.location.href = '/PhoneBook/ExportToExcel?MaPB=' + MaPB;
        }
        function ChangePhongBan(obj) {
            window.location.href = '@Url.Action("Index", "PhoneBook")?MaPB=' + obj.value;
        }
    </script>


</body>
</html>
