
@{
    Layout = null;
}
@using HPDQ_Project.Models
@model PagedList.IPagedList<NhanVienValidation>
@using PagedList.Mvc;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh sách nhân viên</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/libs/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link href="~/Content/css/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Assets/Chonse/chosen.css" rel="stylesheet" />
    <style>
        ul#selectedValue {
            list-style: none;
            position: absolute;
            padding: 0;
            margin: 0;
            list-style-type: none;
            background-color: #f2f2f2;
        }

            ul#selectedValue li.ui-menu-item {
                padding: 2px 5px;
            }

                ul#selectedValue li.ui-menu-item:hover {
                    background-color: #ccc
                }

                ul#selectedValue li.ui-menu-item a:link, a:active, a:visited, a:hover {
                    text-decoration: none;
                    color: black;
                }
    </style>
</head>
<body style="width:100%;height:100%">
    @if (TempData["msgSuccess"] != null)
    {
        @Html.Raw(TempData["msgSuccess"])
    }
    @if (TempData["msgError"] != null)
    {
        @Html.Raw(TempData["msgError"])
    }
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-3">
                    @Html.DropDownList("PBList", null, "--Bộ phận / Nhà máy--", new { id = "MaPB", @class = "form-control", @style = "width:100%", @onChange = "return ChangePhongBan(this)", })
                </div>
                <div class="col-md-3">
                    <input id="txtsearch" class="form-control" type="text" placeholder="Nhân viên..">
                    <ul id="selectedValue"></ul>
                </div>
               
                <div class="col-md-6">
                    <button type="button" id="btn-add" class="btn btn-primary pull-right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
                    <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Create","Employees")'></div>

                    <a class="btn btn-default pull-right" href="#" id="btn-Import"><i class="far fa-file-excel"></i>&nbsp Import</a>
                    <div class="modal fade" id="myModalimport" role="dialog" data-url='@Url.Action("ImportExcel","Employees")'></div>

                    <a class="btn btn-default pull-right" href="@Url.Action("Sync","Employees")" onclick="return confirm('Bạn muốn đồng bộ dữ liệu');"><i class="fas fa-sync-alt"></i>&nbsp Đồng bộ</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="countlist">Tổng số nhân viên: <span>@Model.TotalItemCount</span></div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="table" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th width="20px" class="text-center">STT</th>
                            <th width="130px" class="text-center">Thao tác</th>
                            <th>Mã NV</th>
                            <th>Họ tên</th>
                            <th width="280px">Vị trí</th>
                            <th>BP/ NM</th>
                            <th>Ngày nhận việc</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int pageno = (int)Model.PageNumber;
                            int itemperpage = (int)Model.PageSize;
                            int RowNo = ((pageno - 1) * itemperpage) + 1;
                        }
                        @{
                           
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center"> @RowNo@{RowNo++;}</td>
                                    <td class="text-center">
                                        <a id="btn-edit_@item.IDNV" href="#" title="Sửa"><i class="fa fa-edit"></i> </a>
                                        <div class="modal fade" id="myModale_@item.IDNV" role="dialog" data-url='@Url.Action("Edit","Employees",new { id = item.IDNV })'></div>
                                        <script type="text/javascript">
                                        $('#btn-edit_@item.IDNV').click(function () {
                                            var url = $('#myModale_@item.IDNV').data('url');
                                            $.get(url, function (data) {
                                                $("#myModal").html(data);
                                                $("#ModalTitle").html("Cập nhập nhân viên");
                                                $("#myModal").modal('show');
                                            });
                                        });
                                        </script>
                                        <a href="@Url.Action("Delete", "Employees", new { id = item.IDNV })" onclick="return confirm('Bạn muốn xóa nhân viên có Mã NV: @item.MaNV');" title="Xóa"><i class="fa fa-trash"></i></a>
                                        <a id="btn-details_@item.IDNV" href="#" title="Xem chi tiết"> <i class="fas fa-info-circle"></i></a>
                                        <div class="modal fade" id="myModaled_@item.IDNV" role="dialog" data-url='@Url.Action("Details","Employees",new { id = item.IDNV })'></div>
                                        <script type="text/javascript">
                                            $('#btn-details_@item.IDNV').click(function () {
                                                var url = $('#myModaled_@item.IDNV').data('url');
                                            $.get(url, function (data) {
                                                $("#myModal").html(data);
                                                $("#ModalTitle").html("Chi tiết nhân viên");
                                                $("#myModal").modal('show');
                                            });
                                        });
                                        </script>
                                    </td>
                                    <td>@item.MaNV</td>
                                    <td>@item.TenNV</td>
                                    <td>@item.TenCV</td>
                                    <td>@item.TenPB</td>
                                    <td>@Html.DisplayFor(modelItem => item.NgayVaoLam)</td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="pager">

                    @Html.PagedListPager(Model, page => Url.Action("Index", "Employees", new { page, MaPB = Request.QueryString["MaPB"] }))
                    <span class="pageoff">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        $('#btn-add').click(function () {
            var url = $('#myModal').data('url');
            $.get(url, function (data) {
                $("#myModal").html(data);
                $("#ModalTitle").html("Thêm mới nhân viên");
                $("#myModal").modal('show');
            });
        });
        $('#btn-Import').click(function () {
            var url = $('#myModalimport').data('url');
            $.get(url, function (data) {
                $("#myModal").html(data);
                $("#ModalTitle").html("Import nhân viên");
                $("#myModal").modal('show');
            });
        });
        var textbox;
        var selectValue;
        $(function () {
            textbox = $("#txtsearch");
            selectValue = $('ul#selectedValue');
            textbox.on("input", function () {
                getAutoComplete(textbox.val());
            });
        });
        function getAutoComplete(search) {
            if (search != '') {
                var uri = "/Employees/GetNhanvien";
                $.getJSON(uri, { search: search })
                    .done(function (data) {
                        selectValue.html("");
                        var count = 0;
                        $.each(data, function (key, item) {
                            //$('<option>').text(item).appendTo('#selectedValue');
                            var li = $('<li/>').addClass('ui-menu-item').attr('role', 'menuitem')
                                .html("<a href='#' onclick=\"setText(" + item.IDNV + ",'" + item.MaNV+"')\">" + item.MaNV + " - " + item.TenNV + "</a> <div class=\"modal fade\" id=\"myModal\" role=\"dialog\" data-url='@Url.Action("Create","Employees")'></div>")
                                .appendTo(selectValue);

                            count++;
                        });
                    });
            }
            else { selectValue.html("");}
        }
        function setText(ID,MaNV) {
            textbox.val(MaNV);

            selectValue.html("");
            var url = '@Url.Action("Details", "Employees")?ID=' + ID;
            $.get(url, function (data) {
                $("#myModal").html(data);
                $("#ModalTitle").html("Chi tiết nhân viên");
                $("#myModal").modal('show');
            });
            //getAutoComplete(text);
        }
        function ChangePhongBan(obj) {
        window.location.href = '@Url.Action("Index", "Employees")?MaPB=' + obj.value;
    }

    </script>


</body>
</html>